<a href="https://colab.research.google.com/github/nemartal/game_dist/blob/master/Entregable1_Parte1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [6]:
df_train = pd.read_csv('train.csv')
df_train.head()

         SL      EEG  BP   HR  CIRCULATION  ACTIVITY
0   4019.64 -1600.00  13   79          317         3
1   2191.03 -1146.08  20   54          165         2
2   2787.99 -1263.38  46   67          224         2
3   9545.98 -2848.93  26  138          554         4
4  14148.80 -2381.15  85  120          809         4

EEG - Electrocardiograma

BP - Presion del pulso (Blood Presure)

In [7]:
df_test = pd.read_csv('test.csv')
df_test.head()

         SL      EEG  BP   HR  CIRCULATION
0  28146.00 -3670.00  29  194         1521
1  12064.90 -1796.28   8  105          765
2   3041.75 -1220.95  35   71          249
3   9918.52 -2570.00  44  154          587
4  26464.00 -3133.00  34  161         1523

Los diferentes descriptores del dataset

In [8]:
print (df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11999 entries, 0 to 11998
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SL           11999 non-null  float64
 1   EEG          11999 non-null  float64
 2   BP           11999 non-null  int64
 3   HR           11999 non-null  int64
 4   CIRCULATION  11999 non-null  int64
 5   ACTIVITY     11999 non-null  int64
dtypes: float64(2), int64(4)
memory usage: 562.6 KB
None

Sabiendo que la presión del pulso se tiene que mover entre 100 y 180, ¿qué datos quedan fuera de este rango?

In [14]:
ab = df_train[(df_train['BP']<100)]
ab[0:]

              SL      EEG  BP   HR  CIRCULATION  ACTIVITY
0        4019.64 -1600.00  13   79          317         3
1        2191.03 -1146.08  20   54          165         2
2        2787.99 -1263.38  46   67          224         2
3        9545.98 -2848.93  26  138          554         4
4       14148.80 -2381.15  85  120          809         4
...          ...      ...  ..  ...          ...       ...
11994   52550.30 -2970.00  31  188         2599         3
11995   26761.00 -2776.53  87  156         1521         4
11996   36737.00   555.00  60  234         1581         2
11997   39610.60 -3110.00  17  196         1885         3
11998  280014.00 -9684.44  68  468         9276         5

[10389 rows x 6 columns]

In [13]:
ac = df_train[(df_train['BP']>180)]
ac[0:]

             SL       EEG   BP   HR  CIRCULATION  ACTIVITY
28     280276.0 -13215.00  264  465         8741         0
42     291719.0 -11688.00  242  487        10978         0
144    190854.0  -8983.00  252  350         7945         0
160    324568.0 -13759.00  323  482        10983         0
229    128042.0  -8414.00  251  325         5739         0
...         ...       ...  ...  ...          ...       ...
11814   55384.0  -6353.00  349  273         2603         0
11821  144996.0  -7575.88  193  362         5847         3
11859  126304.0  -7734.00  210  282         4620         0
11889   55193.0  -5465.00  182  193         2810         0
11984   66971.0  -7173.00  203  253         3063         0

[301 rows x 6 columns]

La frecuencia cardiaca tiene que superar los 75 latidos por minuto para poder estar vivo. ¿Cuantos datos cumplen este valor?

In [15]:
ab = df_train[(df_train['HR']>75)]
ab[0:]

              SL      EEG  BP   HR  CIRCULATION  ACTIVITY
0        4019.64 -1600.00  13   79          317         3
3        9545.98 -2848.93  26  138          554         4
4       14148.80 -2381.15  85  120          809         4
5        7336.79 -1699.80  22   95          427         5
6       24949.90 -3198.06  35  157         1519         3
...          ...      ...  ..  ...          ...       ...
11994   52550.30 -2970.00  31  188         2599         3
11995   26761.00 -2776.53  87  156         1521         4
11996   36737.00   555.00  60  234         1581         2
11997   39610.60 -3110.00  17  196         1885         3
11998  280014.00 -9684.44  68  468         9276         5

[10950 rows x 6 columns]

Entre los que estan corriendo cual es la media de EEG.

In [18]:
ab = df_train[(df_train['ACTIVITY'] == 5)]
ab['EEG'].mean()

-35512.76883972598

¿Cuál es la desviación tipica de la circulación?

In [17]:
df_train['CIRCULATION'].std()

3789.8221231198795

Utiliza una tabla de contingencia para averiguar que personas estan sentados (2) y además tienen un BP mayor a la media.

In [20]:
b = df_train['BP'].mean()
ab = df_train[(df_train['BP'] > b)]
ac = df_train[(df_train['ACTIVITY'] == 2)]
pd.crosstab(ac['BP'],ab['ACTIVITY'])

ACTIVITY   2
BP
59         8
60         7
61        12
62         6
63        11
..        ..
161        3
162        1
163        3
164        1
166        1

[95 rows x 1 columns]